body{
    font-family: "Roboto", sans-serif;
}

h1{
    font-size: 100px;
}

#font-controls{
    width: 25%;
}

@media screen and (max-width:768px){
    #font-controls{
        width: 100%;
    }
    
}